opencv-python-headless==4.10.0.84
pandas==2.2.3
scikit-learn==1.5.2
albumentations==1.4.18
matplotlib==3.9.2
wandb==0.18.7
lightning==2.4.0
segmentation_models_pytorch==0.3.4
OmegaConf==2.3.0
gspread==6.1.4
gspread_formatting==1.2.0
python-dotenv==1.0.1